/**
 * @name Darker mode
 * @author Szedann
 * @description Darker mode for discord
 * @version 0.1.0
 */


.theme-dark{
    --background-primary: #0f1111;
    --background-secondary: #1c1d21;
    --background-secondary-alt: #1c1d21;
    --background-tertiary: #1e2022;
    --background-accent: #ffffff3f;
    --channeltextarea-background: #151618; 
}

.actionButtons-14eAc_ button{
    background: #3b3d46 !important;
}

.peopleList-3c4jOR {
    background: var(--background-primary)
}

.roleColor-rz2vM0{
    color: #36393f;
}

.theme-dark .container-3ayLPN {
    background: var(--background-tertiary);
}

.theme-dark .option-96V44q:after{
    background: transparent !important;
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6{
    background: var(--background-secondary) !important;
}
.headerPlaying-j0WQBV {
    background: #667bc5;
}
.peopleColumn-29fq28{
    background: var(--background-primary);
}
.modal-3O0aXp, .horizontal-1ae9ci{
    background: var(--background-secondary) !important;
}
.flex-1xMQg5.flex-1O1GKY.horizontal-1ae9ci{
    background: transparent !important;
}
.wrapper-2aW0bm{
    box-shadow: 0 0 3px black;
}
.typeWindows-1za-n7{
    background: black;
    margin-top: 0;
    padding-top: 4px;
}

.jumpToPresentBar-G1R9s6{
    background: rgba(0, 0, 0, 0.329);
}
